java:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  keyVaults:
    cpo:
      secrets:
        - AppInsightsInstrumentationKey
  environment:
    CPO_CASE_PAYMENT_ORDERS_DB_HOST: "{{ .Release.Name }}-postgresql"
    CPO_CASE_PAYMENT_ORDERS_DB_NAME: "{{ .Values.postgresql.postgresqlDatabase}}"
    CPO_CASE_PAYMENT_ORDERS_DB_USERNAME: "{{ .Values.postgresql.postgresqlUsername}}"
    CPO_CASE_PAYMENT_ORDERS_DB_PASSWORD: "{{ .Values.postgresql.postgresqlPassword}}"
    CPO_CASE_PAYMENT_ORDERS_DB_OPTIONS: "?stringtype=unspecified&sslmode=require&gssEncMode=disable"
    CPO_CASE_PAYMENT_ORDERS_DB_PORT: 5432
  postgresql:
    enabled: true
