java:
  applicationPort: 4457
  image: 'hmctspublic.azurecr.io/cpo/case-payment-orders-api:latest'
  ingressHost: cpo-case-payment-orders-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  aadIdentityName: cpo
#  Uncomment once the vault containing the app insights key has been set up
  keyVaults:
    cpo:
      secrets:
        - name: AppInsightsInstrumentationKey
          alias: azure.application-insights.instrumentation-key
        - name: case-payment-orders-api-POSTGRES-USER
          alias: CPO_CASE_PAYMENT_ORDERS_DB_USERNAME
        - name: case-payment-orders-api-POSTGRES-PASS
          alias: CPO_CASE_PAYMENT_ORDERS_DB_PASSWORD
        - name: case-payment-orders-api-POSTGRES-HOST
          alias: CPO_CASE_PAYMENT_ORDERS_DB_HOST
        - name: case-payment-orders-api-POSTGRES-PORT
          alias: CPO_CASE_PAYMENT_ORDERS_DB_PORT
        - name: case-payment-orders-api-POSTGRES-DATABASE
          alias: CPO_CASE_PAYMENT_ORDERS_DB_NAME

  environment:
    IDAM_OIDC_URL: https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net
    IDAM_API_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-{{ .Values.global.environment }}.internal:8443/openam/oauth2/hmcts
    CPO_S2S_AUTHORISED_SERVICES: xui_webapp,payment_app
    S2S_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CPO_CASE_PAYMENT_ORDERS_DB_OPTIONS: "?stringtype=unspecified&gssEncMode=disable"
    SERVICE-AUTHORIZATION_PERMISSIONS_[PAYMENT_APP]: R
    SERVICE-AUTHORIZATION_PERMISSIONS_[XUI_WEBAPP]: R
