.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml

# BEFTA temp locations
target/
definition_files/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_Store

/BEFTA Report for Smoke Tests/
/BEFTA Report for Functional Tests/

/bin/functionalTest
/bin/integrationTest
/bin/main
/bin/test
